/* Main container. Highest parent element. */
#main_container{
    background: rgb(255,255,255);
    background: linear-gradient(143deg, rgba(255,255,255,1) 0%, rgba(211,255,239,1) 20%, rgba(109, 231, 255, 0.684) 100%); 
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(194, 194, 194, 0.685);
}

/* Container for numeric intput field */
.quantity{
    width:100%;
}

/* Name of the item */
.title {
    width:100%;
}

/* Total for each line */
.total {
    width: 100%;
    text-align: right;
}

/* Container for each lined item */
.line {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 1px solid grey;
    border-radius: 15px;
}

/* Grand total */
#grandTotal{
    font-weight: bolder;
}